@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root{
  /* ## Color- */

--Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
--Desaturated-Dark-Blue: hsl(214, 17%, 51%);
--Grayish-Blue: hsl(212, 23%, 69%);
--Light-Grayish-Blue: hsl(210, 46%, 95%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

body{
  background-color: var(--Light-Grayish-Blue);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
}


/* main css  left */
.container{
  display: grid;
  grid-template-columns: 285px minmax(300px,445px);
  max-width: 730px;
  border-radius: 1rem;
}

.box-img{
  border-radius: 1rem 0 0 1rem;
  overflow: hidden;
}
.box-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
  transition: all 0.5s ease;
}

/* right side */
.box-content{
  padding: 1.5rem 2rem 1rem;
  background-color: white;
  border-radius: 0 1rem 1rem 0;
  display: grid;
  gap: 1rem;
}
.box-content h3{
  color: var(--Very-Dark-Grayish-Blue);
}
.box-content p{
  color: var(--Desaturated-Dark-Blue);
  font-size: 0.75rem;
}

/* footer */
.box-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box-profile{
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.box-profile img{
  width: 50px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.profile-info p{
  color: var(--Very-Dark-Grayish-Blue);
  font-weight: 700;
}
.profile-info span{
  color: var(--Desaturated-Dark-Blue);
  font-size: 0.75rem;
}

/* share options */
.share{
  position: relative;
}
.share i:first-child:hover, .share i:first-child.active{
  background: var(--Desaturated-Dark-Blue);
  color: white;
}
.share i:first-child {
  color: var(--Desaturated-Dark-Blue);
  background-color: var(--Light-Grayish-Blue);
  padding: 10px;
  border-radius: 50%;
  font-size: 0.8rem;
}
.share-options{
  background: var(--Very-Dark-Grayish-Blue);
  padding: 0.8rem 3rem;
  position: absolute;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  border-radius: 1rem;
  bottom: calc(100% + 1.25rem);
  left: 50%;
  transform: translate(-50%, 0) scale(0);
  visibility: hidden;
  transition: all 0.25s ease;
}
.share-options.active{
  transform: translate(-50%, 0) scale(1);
  visibility: visible;
}
.share-options::after{
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  background: var(--Very-Dark-Grayish-Blue);
  top: 100%;
  left: 50%;
  transform: translate(-50%, -65%) rotate(45deg);
}
.share-options i{
  color: white;
}
.share-options span{
  color: var(--Grayish-Blue);
  text-transform: uppercase;
  letter-spacing: 3px;
}
.share-options i:hover{
  filter: invert(1);
}


@media (max-width: 768px) {
  .container{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 320px;
    overflow: hidden;
  }
  .box-img{
    border-radius: 1rem 1rem 0 0;
  }
  .box-content{
    border-radius: 0 0 1rem 1rem;
  }
  .box-content h3{
    font-size: 1rem;
  }
  .box-content > p{
    margin-bottom: 1rem;
  }
  .box-profile img{
    width: 35px;
  }
  .box-footer{
    position: relative;
  }
  .share{
    position: static;
  }
  .share{
    z-index: 1;
  }
  .share-options{
    transform: translate(0%, 100%) scale(1);
    left: 0;
    top: 0;
    visibility: visible;
    border-radius: 0;
    z-index: -1;
    inset: -1rem -2rem;
  }
  .share-options.active{
    transform: translate(0%, 0%);
  }
}


